.listContainer {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  :global {
    .nut-searchbar {
      border-bottom: 1px solid #f5f6f7;
    }
    .nut-searchbar__input {
      background-color: transparent;
    }
  }
  .item {
    padding: 44px;
    border-bottom: 2px solid #f5f6f7;
    letter-spacing: 1.24px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .left {
      display: flex;
      align-items: center;
    }
    .head {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      .deviceTypeIcon {
        width: 56px;
        height: 50px;
        margin-bottom: 20px;
      }
      .deviceType {
        font-size: 24px;
        color: #acacac;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 28px;
        color: #000000;
        margin-bottom: 6px;
      }
      .identityType {
        font-size: 28px;
        color: #717171;
      }
    }
    .activeStatus {
      padding: 4px 10px;
      line-height: 32px;
      border-radius: 4px;
      font-size: 24px;
    }
    .active {
      border: 2px solid #24ff21;
      color: #6dd400;
    }
    .noActive {
      border: 2px solid #ff4949;
      color: #e02020;
    }
  }
}
