.index {
  min-height: 100vh;
}
.appInfoContainer {
  padding: 130px 32px 20px;
  background-color: #f0f1f2;
  display: none;
  transition: display 0.25s ease-in;
  .title {
    font-size: 34px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;
    margin-bottom: 44px;
  }
}
.publishBtn {
  z-index: 999;
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: $primary-color;
  box-shadow: 0 4px 24px 0 $box-shadow-color-start, 0 24px 24px -24px $box-shadow-color-end;
  position: fixed;
  bottom: 64px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  .label {
    margin-top: 4px;
  }
}
