.authorizeContainer {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  image {
    width: 208px;
    height: 208px;
    border-radius: 50%;
  }
  .title {
    margin-bottom: 280px;
    margin-top: 30px;
    image {
      width: 281px;
      height: 94px;
      border-radius: 0;
    }
  }
  :global {
    .nut-button--normal {
      background-color: $primary-color;
      padding: 12px 76px;
      box-shadow: 0 4px 24px 0 $box-shadow-color-start, 0 24px 24px -24px $box-shadow-color-end;
      border-radius: 24px;
      color: #ffffff;
    }
  }
}
