.authorizeContainer {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  .logo {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    .icon {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
    .text {
      width: 320px;
      height: 64px;
    }
  }
  .form {
    width: 600px;
    margin: 0 auto;
  }
  .description {
    margin-top: 6px;
    margin-bottom: 44px;
    width: 600px;
    font-size: 24px;
    color: #0d0d0d;
    letter-spacing: 0;
  }
  :global {
    .nut-input {
      background: #f0f0f0;
      border-radius: 8px;
      margin-bottom: 24px;
      padding: 16px 14px;
    }
    .nut-icon {
      margin-right: 6px;
    }
    .nut-button--primary {
      background: #6e65fc !important;
      padding: 14px 135px;
      margin: 0 auto;
      box-shadow: 0 2px 17px -3px rgba(83, 71, 255, 0.46);
      border-radius: 8px;
      color: #ffffff;
    }
  }
}
