.list {
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 30px;
  justify-content: space-between;
}
.item {
  width: 152px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #FFFFFF;
  border-radius: 12px;
  .device {
    width: 100%;
    border-left: 4px solid #6E65FC;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    font-size: 12px;
    color: #8C88D3;
  }
  .value {
    font-size: 20px;
    color: #000000;
  }
}
