.deviceRuleContainer {
  width: 100%;
  background: #ffffff;
  .emptyText {
    padding-top: 374px;
    text-align: center;
    color: #999999;
    font-size: 32px;
  }
  .item {
    padding: 44px;
    border-bottom: 2px solid #f5f6f7;
    letter-spacing: 1.24px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 28px;
        color: #000000;
        margin-bottom: 6px;
      }
      .type {
        font-size: 24px;
        color: #a2a2a2;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .value {
        font-size: 28px;
        color: #000000;
        margin-bottom: 6px;
      }
      .time {
        font-size: 24px;
        color: #a2a2a2;
      }
    }
  }
}
