.events {
  background: #FFFFFF;
  border-radius: 12px;
  padding-top: 15px;
  margin: 16px 22px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
      left: 17px;
      right: 17px;
    }
    border-left: 4px solid #6E65FC;
    .title {
      font-size: 14px;
      color: #6E65FC;
      letter-spacing: 1.24px;
    }
    .more {
      font-size: 12px;
      color: #525252;
    }
  }
}

.event {
  background: #ffffff;
  padding: 11px 16px 16px;
  border-bottom: 1px solid #f7f7fa;
  &:nth-child(3) {
    border-bottom-width: 0;
  }
  .date {
    font-size: 12px;
    color: #848484;
    margin-bottom: 5px;
  }
  .title {
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.24px;
  }
}
